@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.member {
  width: 280px;
  height: 300px;
  border-radius: 10px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  transition: 0.4s ease-out;
}

.member img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.member .member-info-content {
  position: absolute;
  left: 50px;
  bottom: 0;
  transition: bottom 0.4s;
}

.member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.327);
  text-align: center;
}

.member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin: 15px;
}

.member .social a:hover {
  color: #c2eb1e;
}

.member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(78, 64, 57, 0.95) 0%,
    rgba(78, 64, 57, 0.95) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}

.member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

section{
  scroll-snap-align: start;
}
/* Animation */

.animate-float-x {
  animation-name: float-x;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animate-float-y {
  animation-name: float-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes float-y {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes float-x {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-20px);
  }
}

/* Animated Hover Icon */
.animated-hover-icon:hover .icon {
  animation: shakeX linear 0.9s;
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}
